<div class="container">
  <h1>{{entityType.pageTitle}}</h1>
  <p>
    <a href="" ng-click="addEntity()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      {{entityType.addEntityString}}
    </a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th ng-repeat="(fieldId, field) in entityType.fields">{{field.label}}</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entity in entities">
        <td ng-repeat="(fieldId, field) in entityType.fields">
          <div ng-switch="field.role">
            <div ng-switch-when="image">
              <img ng-src="{{entity.getField(fieldId)}}" alt="" width="100">
            </div>
            <div ng-switch-default>
              {{entity.getField(fieldId)}}
            </div>
          </div>
        </td>
        <td>
          <button class="btn btn-default" ng-click="editEntity(entity)"
                  ng-disabled="entity.beingDeleted">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
          </button>
          <button class="btn btn-danger"
                  my-click-confirm="deleteEntity(entity)"
                  my-confirm-message="Are you sure you want to delete {{entity.label()}}?"
                  ng-disabled="entity.beingDeleted">
            <span class="spinner glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" my-modal="modalState">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="saveEntity(formEntity)">
          <div ng-repeat="(fieldId, field) in entityType.fields">
            <div ng-if="field.type=='text' || field.type=='email' || field.type=='number' || field.type=='textarea' || field.type=='select'">
              <div class="form-group">
                <label for="{{fieldId}}">{{field.label}} <span ng-if="field.required">*</span></label>
                <div ng-if="field.type=='text' || field.type=='email' || field.type=='number'">
                  <input type="{{field.type}}" class="form-control" id="{{fieldId}}"
                         ng-required="field.required" ng-model="formEntity.formData[fieldId]">
                </div>
                <div ng-if="field.type=='textarea'">
                  <textarea class="form-control" id="{{fieldId}}"
                            ng-required="field.required" ng-model="formEntity.formData[fieldId]"></textarea>
                </div>
                <div ng-if="field.type=='select'">
                  <select ng-model="formEntity.formData[fieldId]" ng-options="{{field.selectOptions}}" class="form-control"></select>
                </div>
              </div>              
            </div>
            <div ng-if="field.type=='checkbox'">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="{{fieldId}}" ng-model="formEntity.formData[fieldId]">
                  {{field.label}}
                </label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="modalState.inProgress">
            <span class="spinner glyphicon glyphicon-refresh" aria-hidden="true"></span> Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
